@import 'src/style/themes/clin/layout';

.patientContentContainer {
  width: 100%;
  height: calc(100vh - #{$main-header-height} - #{$page-header-height});
  padding: $default-page-content-padding;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  overflow-y: auto;
}
