.mainLayout {
  height: 100vh;
  .mainContent {
    flex: 1;
    min-height: unset;
    height: 100%;
    overflow: auto;
  }

  :global(#content) {
    height: 100%;
  }
}

.fixedLayout {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  overflow-y: auto;
}
